# IDE and SCM trash
.osp
.gigacode
.idea
*.idea/*
.mc/
.settings/
.subversion/
.buildpath
.classpath
.cproject
.loadpath
.metadata
.pmt
.project

# OS trash
$RECYCLE.BIN/
.DS_Store
Desktop.ini
Nginx_1.14_vhost.conf
ehthumbs.db
Thumbs.db

#--bqpl--
/bitrix
/bitrix/
upload
upload/
upload/**
robots.txt
sitemap
Nginx-1.11_vhost.conf
Nginx-1.12_vhost.conf
Nginx-1.13_vhost.conf
Nginx-1.14_vhost.conf
Nginx-1.17_vhost.conf
Nginx_1.17_vhost.conf
Nginx_1.21_vhost.conf
Nginx_1.23_vhost.conf

*.flg
*.sql
tmp.log
/tmp.log
*.md
.php_cs.cache
*style.min.css
*script.min.js
